@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../image/BG.svg");
}

.wrapped {
  margin: 160px auto;
  max-width: 510px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 26px;
  padding: 40px 66px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.wrapped header {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.wrapped .inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  width: 100% px;
  margin: 24px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapped .inputField button {
  height: 45px;
  width: 45px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: #EA3788;
  cursor: pointer;
  padding-bottom: 5px;
}
.wrapped .inputField button span {
  font-size: 20px;
  color: #fff;
  height: 21px;
  width: 21px;
  cursor: pointer;
}
.wrapped .inputField input {
  width: 320px;
  height: 100%;
  border: none;
  font-size: 15px;
  border-radius: 15px;
  padding: 0 24px;
  background: rgba(16, 7, 9, 0.13);
  color: #ffc2d1;
  outline: none;
  font-weight: 400;
}
.wrapped .inputField input::-webkit-input-placeholder {
  color: rgba(255, 194, 209, 0.5);
  font-weight: 400;
}
.wrapped ul {
  max-height: 430px;
  overflow-y: auto;
}
.wrapped ul li {
  list-style: none;
  height: 71.5px;
  line-height: 71.5px;
  color: rgba(255, 194, 209, 0.9);
  position: relative;
  background: rgba(16, 7, 9, 0.13);
  border-radius: 15px;
  margin: 0 0 19px 0;
  padding: 0 26px;
  font-weight: 500;
  cursor: default;
  overflow: hidden;
}
.wrapped ul li:hover span {
  right: 0px;
}
.wrapped ul li span {
  position: absolute;
  right: -71.5px;
  color: #FF94BA;
  font-size: 24px;
  background: rgba(32, 15, 19, 0.3);
  border-radius: 0 15px 15px 0;
  width: 71.5px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.wrapped ul :last-child {
  margin-bottom: 0;
}
.wrapped .footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 27px;
  color: #D26888;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapped .footer button {
  background: #EA3788;
  border: none;
  outline: none;
  border-radius: 15px;
  height: 45px;
  width: 140px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.wrapped .footer span {
  font-weight: 500;
}

/*
.objects{    

    .first_kvad{
        width: 160px;
        height: 160px;
        background: #FF94BA;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba($color: #FF94BA, $alpha: 1.0);
        position: absolute;
        top: 282px;
        left: 184px;
        transform: rotate(-107deg);
        z-index: -1;
    }
    .second_kvad{
        width: 130px;
        height: 130px;
        background: #FF94BA;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba($color: #FF94BA, $alpha: 1.0);
        position: absolute;
        top: 54px;
        left: 650px;
        transform: rotate(-105deg);
        z-index: -1;
    }
    .krug{
        width: 250px;
        height: 250px;
        background: #FF94BA;
        border-radius: 100%;
        box-shadow: 0 0 20px rgba($color: #FF94BA, $alpha: 1.0);
        position: absolute;
        top: 662px;
        left: 509px;
        z-index: -1;
    }
    .third_kvad{
        width: 276px;
        height: 276px;
        background: #FF94BA;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba($color: #FF94BA, $alpha: 1.0);
        position: absolute;
        top: 453px;
        left: 1120px;
        transform: rotate(-155deg);
        z-index: -1;
    }
    .forth_kvad{
        width: 180px;
        height: 180px;
        background: #FF94BA;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba($color: #FF94BA, $alpha: 1.0);
        position: absolute;
        top: 140px;
        left: 1630px;
        transform: rotate(-75deg);
        z-index: -1;
    }
}*/